@model FrioBueno.Models.DetalleCarga

@{
    ViewData["Title"] = "Editar;
    var idCarga = ViewContext.RouteData.Values["Id"];
    int id = Convert.ToInt32(idCarga);
}

<h2>Editar Producto</h2>

<hr />
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdCarga" class="control-label"></label>
                <input asp-for="IdCarga" class="form-control" readonly />
                <span asp-validation-for="IdCarga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto" class="control-label"></label>
                <input asp-for="Producto" class="form-control" />
                <span asp-validation-for="Producto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Envase" class="control-label"></label>
                <input asp-for="Envase" class="form-control" />
                <span asp-validation-for="Envase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadEnvases" class="control-label"></label>
                <input asp-for="CantidadEnvases" class="form-control" />
                <span asp-validation-for="CantidadEnvases" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KgEnvase" class="control-label"></label>
                <input asp-for="KgEnvase" class="form-control" />
                <span asp-validation-for="KgEnvase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FolioExterno" class="control-label"></label>
                <input asp-for="FolioExterno" class="form-control" />
                <span asp-validation-for="FolioExterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id= "@id"> Volver a la Lista </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
